<div id="contentLeft">
    <div id="userLeft">
        <img ng-if="!usuario.ID" border="0" src="" ng-click="location('#!/conecte-se')" onerror="onErrorUser(this)">
        <img ng-if="usuario.ID" border="0" src="" ng-click="location('#!/cadastro')" onerror="onErrorUser(this)">
        <div ng-if="!usuario.ID" ng-click="location('#!/conecte-se')">
            <b>Olá</b>
            <label>Conecte-se</label>
        </div>
        <div ng-if="usuario.ID" ng-click="location('#!/cadastro')">
            <b>{{usuario.NOME}}</b>
            <label style="color: #00CB00; font-weight: 500" ng-if="usuario.USERNAME">@{{usuario.USERNAME}}</label>
            <label ng-if="!usuario.USERNAME">{{usuario.EMAIL}}</label>
            <a>Perfil</a>
        </div>
    </div>
    <div id="wifi" ng-include src="$root.BASE+'view/pages/wifi.html'"></div>
    <ul>
        <li data-id="DVCM">
            <a href="tel:180">
                <i class="mdi mdi-communication-call"></i>
                Denuncie violência contra mulher
            </a>
        </li>
        <li data-id="{{menu.id}}" class="{{controller == menu.controller?'active':''}} {{menu.has_pesquisa && $root.PESQUISA_ATIVA ? 'show_icon_pesquisa':''}}" ng-repeat="menu in MenuLeft" ng-if="usuario.ID || menu.logado">
            <a ng-click="menu.minhacarteira?Layers('feed-minha-carteira'):location(menu.url, menu.external, menu.pageStart?1:0)">
                <i ng-if="menu.icon" class="mdi {{menu.icon}}"></i>
                {{menu.titulo}}
                <span ng-if="menu.id=='PUSH' && $root.QTDE_PUSH">{{$root.QTDE_PUSH}}</span>
                <span ng-if="menu.id=='SAC' && $root.QTDE_SAC">{{$root.QTDE_SAC}}</span>
            </a>
        </li>
        <li class="{{controller == 'AreaRestrita'?'active':''}}" ng-if="usuario.RESTRITO">
            <a ng-click="swipeLeft();location('#!/area-restrita');">
                <i class="mdi mdi-action-lock"></i>
                Área restrita
            </a>
        </li>
        <li class="{{controller == 'AreaRestrita'?'active':''}}" ng-if="!usuario.RESTRITO">
            <a ng-click="swipeLeft();$root.clickEscanear('area-restrita');">
                <i class="mdi mdi-action-lock"></i>
                Área restrita
            </a>
        </li>

        <li ng-if="usuario.CHECKIN == 1" ng-click="location('#!/checkin')">
                <i class="mdi-maps-directions-bus"></i>
                Checkin
        </li>
        <li ng-if="usuario.ID">
            <a style="color: #e94847" ng-click="logout()">
                <i class="mdi mdi-content-clear"></i>
                Sair da conta
            </a>
        </li>
    </ul>
    <div id="bottom">
        <img ng-if="usuario.FACEBOOK.ATIVO" ng-click="AppBrowser(usuario.FACEBOOK)" src="{{$root.BASE}}img/facebook.png" border="0">
        <img ng-if="usuario.INSTAGRAM.ATIVO" ng-click="AppBrowser(usuario.INSTAGRAM)" src="{{$root.BASE}}img/instagram.png" border="0">
        <img ng-if="usuario.TIKTOK.ATIVO" ng-click="AppBrowser(usuario.TIKTOK)" src="{{$root.BASE}}img/tiktok.png" border="0">
        <img ng-if="usuario.YOUTUBE.ATIVO" ng-click="AppBrowser(usuario.YOUTUBE)" src="{{$root.BASE}}img/youtube.png" border="0">
        <img ng-if="usuario.LINKEDIN.ATIVO" ng-click="AppBrowser(usuario.LINKEDIN)" src="{{$root.BASE}}img/linkedin.png" border="0">
        <img ng-if="usuario.TWITTER.ATIVO" ng-click="AppBrowser(usuario.TWITTER)" src="{{$root.BASE}}img/twitter.png" border="0">
    </div>
</div>
