<li idx="1">
    <div>
        <img src="img/tour/1.png">
        <a ng-click="$root.TOUR=2">sim</a>
        <a ng-click="location('#!/')">não</a>
    </div>
</li>
<li idx="2" ng-click="$root.TOUR=3">
    <i class="mdi mdi-action-credit-card"></i>
    <span>Carteira</span>
    <div class="traco"></div>
    <p>
        Não quer usar cartão de crédito?
        <br>Não precisa. Você pode colocar
        <br>crédito em sua carteira digital do
        <br>Market4u. Clique em carteira e
        <br>conheça as opções.
    </p>
    <i class="mdi mdi-hardware-keyboard-backspace"></i>
</li>
<li idx="3" ng-click="$root.TOUR=4">
    <i class="mdi mdi-editor-attach-money"></i>
    <span>Pagar</span>
    <div class="traco"></div>
    <p>
        Para fazer o pagamento, clique
        <br>em <b>pagar</b> e escaneia o <b>QR Code</b>
        <br>do totem de autoatendimento.
        <br>Assim você irá conseguir efetuar o
        <br>pagamento tranquilamente.
    </p>
    <i class="mdi mdi-hardware-keyboard-backspace"></i>
</li>
<li idx="4" ng-click="$root.TOUR=5">
    <i class="mdi mdi-action-lock-open"></i>
    <span>Destravar</span>
    <div class="traco"></div>
    <p>
        <b>Opção disponível apenas para <br>maiores de 18 anos.</b>
        <br>É só escanear <b>QR Code</b> em nossa
        <br>geladeira e ela será aberta!
    </p>
    <i class="mdi mdi-hardware-keyboard-backspace"></i>
</li>
<li idx="5" ng-click="$root.TOUR=6;menuOpen();">
    <i class="mdi mdi-action-settings"></i>
    <span>Ajustes</span>
    <div class="traco"></div>
    <p>
        Em <b>ajustes</b>, você acessa
        <br>seu perfil, onde estão:
        <br><div class="bolinha"></div>Dados pessoais;
    <br><div class="bolinha"></div>Dados de acesso;
    <br><div class="bolinha"></div>Endereço;
    <br><div class="bolinha"></div>Suas preferências.
    </p>
    <i class="mdi mdi-hardware-keyboard-backspace"></i>
</li>
<li idx="6" ng-click="location('#!/')">
    <div>
        <div class="traco"></div>
        <p>
            Em <b>Menu</b>, você tem acesso a tudo o
            <br>que precisa para ter mais
            <br>praticidade em sua experiência com
            <br>o <b>app Market4u</b>.
        </p>
        <div class="traco"></div>
    </div>
</li>