<md-content id="boxOpcoes" ng-if="$root.TIPO_PG == 'INICIO' && $root.usuario.COMPRAR && $root.usuario.AUTOATENDIMENTO" class="scrollable-content" scroll flex md-scroll-y>
    <a ng-click="$root.TIPO_PG='COMPRAR'">Comprar</a>

    <br><br>

    <a ng-click="$root.TIPO_PG='PAGAMENTO'">Autoatendimento</a>
</md-content>

<md-content id="boxCarrinho" ng-if="$root.TIPO_PG == 'COMPRAR' && $root.usuario.COMPRAR" class="scrollable-content" scroll flex md-scroll-y>
    Carrinho

    <a ng-if="$root.usuario.COMPRAR && $root.usuario.AUTOATENDIMENTO" ng-click="$root.TIPO_PG='INICIO'">Cancelar</a>
</md-content>

<md-content id="boxPagamento" ng-if="$root.TIPO_PG == 'PAGAMENTO'" t="{{$root.BTN_TYPE}}" step="{{STEP}}" class="scrollable-content" mn-touch swipe-left="clickBtnHome(1)" scroll flex md-scroll-y>
    <i ng-if="STEP == 1 && $root.usuario.COMPRAR && $root.usuario.AUTOATENDIMENTO" ng-click="$root.TIPO_PG='INICIO'" class="mdi mdi-navigation-cancel"></i>

    <h4 ng-if="!$root.STEPS.length">
        Aguarde por favor, carregando...
    </h4>
    <ul ng-if="$root.STEPS">
        <li ng-click="ITEM.STEP==1?clickBtnHome():null" step="{{ITEM.STEP}}" ng-repeat="ITEM in $root.STEPS" class="{{STEP>=ITEM.STEP?'active':''}}">
            <p><span ng-if="ITEM.STEP != 'X' && ITEM.STEP != 'AA'"><i ng-if="STEP==4" class="mdi mdi-navigation-check"></i>{{STEP==4?'':ITEM.STEP_TEXTO}}</span>{{ITEM.TEXTO}}</p>
            <div class="clearBoth"></div>
            <h4 ng-if="ITEM.SUB_TEXTO">{{ITEM.SUB_TEXTO}}</h4>
            <div ng-if="STEP==ITEM.STEP&&STEP==3" id="Payment">
                <h4 ng-if="$root.STATUS_TEXTO">{{$root.STATUS_TEXTO}}</h4>

                <a id="ver-carrinho" ng-if="$root.PRODUTOS.length" onclick="$('#Produtos').show();">Ver carrinho</a>

                <div id="Produtos" class="scrollable-content" scroll flex md-scroll-y>
                    <h5>Carrinho</h5>

                    <i class="mdi-navigation-close" onclick="$('#Produtos').hide();"></i>

                    <ul ng-if="$root.PRODUTOS">
                        <li ng-repeat="PROD in $root.PRODUTOS">
                            <div class="info">
                                <h4>{{PROD.NOME}} <i ng-if="PROD.CONTEUDO != NULL">({{PROD.CONTEUDO}})</i></h4>
                                <span>{{PROD.CAT_DESCRICAO}} - {{PROD.FAB_DESCRICAO}}</span>
                                <span ng-if="PROD.QTDE != NULL">Quantidade <b>{{PROD.QTDE}}</b></span>
                                <label class="total_de" ng-if="PROD.DE_PRECO_FORMAT"><span>de</span> <span class="v">{{PROD.DE_PRECO_FORMAT}}</span></label>
                                <label><span ng-if="PROD.DE_PRECO_FORMAT">por</span> <span class="v">{{PROD.PRECO_FORMAT}}</span></label>
                                <p ng-if="PROD.DESCRICAO != NULL">{{PROD.DESCRICAO}}</p>
                            </div>
                            <div class="img"><img src="{{PROD.IMAGEM}}"></div>
                            <div class="clearBoth"></div>
                        </li>
                    </ul>
                </div>

                <div id="boxPg" ng-include src="'view/payment/formas_pg.html'"></div>
            </div>
        </li>
    </ul>
</md-content>

<button step="{{STEP}}" class="btnConfirme" id="btn-home" ng-click="clickBtnHome()" ng-if="$root.STEPS.length && BTN_HOME" ng-bind-html="TEXTO_BTN"></button>