<md-content class="scrollable-content" scroll flex md-scroll-y>
    <form id="formCadastro" class="form" onsubmit="return false;" autocomplete="off" method="post">
        <label for="cardName" class="margin_t_5">Nome do dono do cartão</label>
        <div class="box1">
            <input type="text" id="cardName" ng-model="PG.cardName" placeholder="Ex: JOÃO DA SILVA" />
        </div>
        <label for="cardNumber" class="margin_t_5">Número do cartão</label>
        <div class="box1">
            <input type="text" id="cardNumber" placeholder="9999 9999 9999 9999" />
            <span class="msgValidator">Número do cartão inválido</span>
            <script type="application/javascript">setTimeout(function(){mask('#cardNumber', ['9999 9999 9999 9999', '9999 9999 9999 9999999999999'], 19);}, 1000);</script>
            <img id="imgBandeira" onerror="$(this).hide()" />
        </div>
        <input type="hidden" id="cardBandeira" />
        <ul id="bandeiras" ng-if="$root.BANDEIRAS">
            <li ng-repeat="b in $root.BANDEIRAS">
                <img src="{{b}}">
            </li>
            <div class="clearBoth"></div>
        </ul>

        <div class="margin_t_10">
            <div class="float-left">
                <label for="expirationMonthYear" class="margin_t_10">Validade</label>
                <div>
                    <div class="box1 float-left" style="width: 102px;">
                        <input maxlength="5" type="text" id="expirationMonthYear" placeholder="mm/aa" />
                        <span class="msgValidator" style="width: 130px;">Validade inválido</span>
                        <script type="application/javascript">setTimeout(function(){mask('#expirationMonthYear', ['99/99']);}, 1000);</script>
                    </div>
                    <div class="clearBoth"></div>
                </div>
            </div>
            <div class="float-right">
                <label for="cvv" class="margin_t_10">Cód. de segurança</label>
                <div class="box1" style="width: 140px;">
                    <input type="number" id="cvv" placeholder="999" />
                </div>
            </div>
            <div class="clearBoth"></div>
        </div>

        <button class="btn-salvar" type="submit" ng-click="salvar()">SALVAR</button>
        <div class="clearBoth"></div>
    </form>
</md-content>