<md-content class="scrollable-content" scroll flex md-scroll-y>
    <form id="formMinhaCarteira" class="form" onsubmit="return false;" method="post">
        Meu saldo:
        <h4>{{usuario.MEUSALDO_FORMAT}}</h4>

        Escolha o valor:

        <ul>
            <li class="{{item.active?'active':''}}" ng-click="select(item)" ng-repeat="item in itens">
                <label ng-if="item.popular">Popular</label>
                R$ {{item.value}}
            </li>
        </ul>
        <div class="clearBoth"></div>

        <div style="margin: 15px 0 0 -15px">Modo de pagamento:</div>
        <div id="boxPg" ng-include src="'view/payment/formas_pg.html'"></div>
    </form>
</md-content>
<button class="btnConfirme" ng-click="$root.confirmPayment('saldo')">Finalizar <i class="mdi mdi-navigation-arrow-forward"></i></button>