<md-content class="scrollable-content" scroll flex md-scroll-y>
    <form id="formCadastro" class="form" onsubmit="return false;" autocomplete="off" method="post">
        <ul id="passo-a-passo">
            <li class="{{item.ACTIVE?'active':''}}" level="{{$index}}" ng-repeat="item in ITENS">
                <div ng-include="item.SRC"></div>
                <div class="boxBtns">
                    <button ng-if="$index > 0" t="PREV" ng-click="btnLevel($index-1)" type="button">Voltar</button>
                    <button ng-click="btnLevel($index+1, 'NEXT')" t="NEXT" level="{{$index+1}}" type="button">{{ITENS.length==$index+1?'Começar':'Próximo'}}</button>
                </div>
            </li>
        </ul>
    </form>
</md-content>