<h2 style="margin: 0">Meu cartão</h2> <span style="color: #00ab46">(opcional)</span>

<label for="cardName" style="margin-top: 20px">Nome do dono do cartão</label>
<label class="box1" for="cardName">
    <input type="text" id="cardName" ng-model="$root.usuario.CC_NAME" placeholder="Ex: JOÃO DA SILVA" />
</label>
<label for="cardNumber" class="margin_t_10">Número do cartão</label>
<label class="box1" for="cardNumber">
    <input type="text" id="cardNumber" ng-model="$root.usuario.CC_NUMBER" placeholder="9999 9999 9999 9999" />
    <span class="msgValidator">Número do cartão inválido</span>
    <script type="application/javascript">setTimeout(function(){mask('#cardNumber', ['9999 9999 9999 9999', '9999 9999 9999 9999999999999'], 19);}, 1000);</script>
    <img id="imgBandeira" onerror="$(this).hide()" />
</label>
<input type="hidden" id="cardBandeira" />
<ul id="bandeiras" ng-if="$root.BANDEIRAS">
    <li ng-repeat="b in $root.BANDEIRAS">
        <img src="{{b}}">
    </li>
    <div class="clearBoth"></div>
</ul>

<div>
    <div class="float-left">
        <label for="expirationMonthYear" class="margin_t_10">Validade</label>
        <div>
            <label for="expirationMonthYear" class="box1 float-left" style="width: 102px;">
                <input maxlength="5" type="text" id="expirationMonthYear" ng-model="$root.usuario.CC_MONTHYEAR" placeholder="mm/aa" />
                <span class="msgValidator" style="width: 130px;">Validade inválido</span>
                <script type="application/javascript">setTimeout(function(){mask('#expirationMonthYear', ['99/99']);}, 1000);</script>
            </label>
            <div class="clearBoth"></div>
        </div>
    </div>
    <div class="float-right">
        <label for="cvv" class="margin_t_10">Cód. de segurança</label>
        <label class="box1" for="cvv" style="width: 140px;">
            <input type="number" id="cvv" ng-model="$root.usuario.CC_CVV" placeholder="999" />
        </label>
    </div>
    <div class="clearBoth"></div>
</div>