<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Market4u</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="pt_BR">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="IE=edge" http-equiv="x-ua-compatible">
  <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">

  <link href="favicon.png" rel="shortcut icon" >

  <link href="css/style-sistema.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="css/keyframes.css" rel="stylesheet" type="text/css">
  <link href="css/materialize.min.css" rel="stylesheet" type="text/css">

  <link href="plugins/angular/css/mobile-angular-ui-base.css" rel="stylesheet" />

  <script src="plugins/jquery-3.3.1.min.js"></script>
  <script src="plugins/jquery-migrate-1.4.1.min.js"></script>
  <script src="plugins/angular.min.js"></script>
  <script src="plugins/angular-route.min.js"></script>
  <script src="plugins/angular-animate.min.js"></script>
  <script src="plugins/angular/js/mobile-angular-ui.min.js"></script>
  <script src="plugins/angular/js/mobile-angular-ui.gestures.min.js"></script>

  <script src="plugins/mn-touch/mn-touch.min.js"></script>

  <script src="plugins/device-detector/ng-device-detector.min.js"></script>
  <script src="plugins/device-detector/re-tree.min.js"></script>

  <script src="cordova.js"></script>
  <script src="js/config.js"></script>
  <script src="js/functions.js"></script>

  <script type="text/javascript">
    'use strict';
    var app = angular.module(
            'App', [
              'ngRoute',
              'mobile-angular-ui',
              'mobile-angular-ui.gestures',
              'mn',
              'ngAnimate',
              'ngMaterial',
              'ngSanitize',
              'ng.deviceDetector',
              'monospaced.elastic'
            ]
    );
  </script>

  <script src="js/modulos/login.js"></script>
  <script src="js/modulos/bar-code-scanner.js"></script>
  <script src="js/modulos/index.js"></script>
  <script src="js/modulos/maquinas.js"></script>
  <script src="js/modulos/produtos.js"></script>

  <script src="js/app.js"></script>

  <link rel="stylesheet" href="css/angular-material.min.css">
  <script src="plugins/angular-aria.js"></script>
  <script src="plugins/angular-material.min.js"></script>
  <script src="plugins/angular-sanitize.js"></script>
  <script src="plugins/vanilla-masker.min.js"></script>

  <script src="plugins/elastic.js"></script>
</head>
<body addsaldo="{{!usuario.MEUSALDO && usuario.MEUSALDO_ATIVADO?1:0}}" device="{{device}}" controller="{{controller}}" ng-app="App">
  <div id="carregando">
    <img src="img/loader.gif" border="0">
    Carregando...
  </div>

  <div mn-touch swipe-right="swipeRight()" ng-if="toolbar" id="toolbar">
    <i mn-touch swipe-right="swipeRight()" ng-if="controller == 'Index'" class="btn_maps mdi mdi-action-view-headline" ng-click="menuOpen()"></i>
    <div id="top" ng-if="controller == 'Index'">
      <div ng-if="usuario.MEUSALDO_ATIVADO" ng-click="location('#!/minha-carteira')" style="display: inline-block;">
        Meu saldo
        <b>{{usuario.MEUSALDO_FORMAT}}</b>
      </div>
      <div id="sem_saldo" ng-if="!usuario.MEUSALDO && usuario.MEUSALDO_ATIVADO" ng-click="location('#!/minha-carteira')">
        Adicionar saldo <i class="mdi mdi-content-add-circle"></i>
      </div>
    </div>
    <div class="topTitulo" ng-if="controller != 'Index'">
      <a class="open-left" ng-if="Titulo" ng-click="backpageTop()">
        <i class="mdi mdi-navigation-chevron-left"></i>
      </a>
      <div class="textoTitulo" ng-bind-html="Titulo"></div>
      <div id="meu_saldo" ng-click="location('#!/minha-carteira')" ng-if="usuario.ID && usuario.MEUSALDO_ATIVADO && $root.BARRA_SALDO">
        Meu saldo <b>{{usuario.MEUSALDO_FORMAT}}</b> <span ng-if="!usuario.MEUSALDO"><i class="mdi mdi-content-add-circle"></i> Adicionar saldo</span>
      </div>
    </div>
    <img ng-click="location('#!/')" src="img/logo.png" border="0">
  </div>

  <div class="app" ng-controller="Main" ui-prevent-touchmove-defaults>
    <a ng-if="usuario.WHATSAPP.ATIVO && $root.NO_WHATSAPP" id="whatsapp" ng-click="whatsapp()">
      <img src="img/whatsapp.png">
    </a>

    <div class="app-body" top_46="{{(controller == 'Index'?(!usuario.MEUSALDO && usuario.MEUSALDO_ATIVADO?0:1):(usuario.ID && usuario.MEUSALDO_ATIVADO && $root.BARRA_SALDO?0:1))}}">
      <div class="app-content">
        <div class="scrollable ng-scope" border-top="{{$root.BARRA_SALDO?0:border_top}}" ng-view></div>
      </div>
    </div>
  </div>

  <ul tour="{{$root.TOUR}}" id="boxTour" ng-if="$root.TOUR && controller == 'Index'">
    <li idx="1">
      <div>
        <img src="img/tour/1.png">
        <a ng-click="$root.TOUR=2">sim</a>
        <a ng-click="location('#!/')">não</a>
      </div>
    </li>
    <li idx="2" ng-click="$root.TOUR=3">
      <i class="mdi mdi-action-credit-card"></i>
      <span>Carteira</span>
      <div class="traco"></div>
      <p>
        Não quer usar cartão de crédito?
        <br>Não precisa. Você pode colocar
        <br>crédito em sua carteira digital do
        <br>Market4u. Clique em carteira e
        <br>conheça as opções.
      </p>
      <i class="mdi mdi-hardware-keyboard-backspace"></i>
    </li>
    <li idx="3" ng-click="$root.TOUR=4">
      <i class="mdi mdi-editor-attach-money"></i>
      <span>Pagar</span>
      <div class="traco"></div>
      <p>
        Para fazer o pagamento, clique
        <br>em <b>pagar</b> e escaneia o <b>QR Code</b>
        <br>do totem de autoatendimento.
        <br>Assim você irá conseguir efetuar o
        <br>pagamento tranquilamente.
      </p>
      <i class="mdi mdi-hardware-keyboard-backspace"></i>
    </li>
    <li idx="4" ng-click="$root.TOUR=5">
      <i class="mdi mdi-action-lock-open"></i>
      <span>Destravar</span>
      <div class="traco"></div>
      <p>
        <b>Opção disponível apenas para <br>maiores de 18 anos.</b>
        <br>É só escanear <b>QR Code</b> em nossa
        <br>geladeira e ela será aberta!
      </p>
      <i class="mdi mdi-hardware-keyboard-backspace"></i>
    </li>
    <li idx="5" ng-click="$root.TOUR=6;menuOpen();">
      <i class="mdi mdi-action-settings"></i>
      <span>Ajustes</span>
      <div class="traco"></div>
      <p>
        Em <b>ajustes</b>, você acessa
        <br>seu perfil, onde estão:
        <br><div class="bolinha"></div>Dados pessoais;
        <br><div class="bolinha"></div>Dados de acesso;
        <br><div class="bolinha"></div>Endereço;
        <br><div class="bolinha"></div>Suas preferências.
      </p>
      <i class="mdi mdi-hardware-keyboard-backspace"></i>
    </li>
    <li idx="6" ng-click="location('#!/')">
      <div>
        <div class="traco"></div>
        <p>
          Em <b>Menu</b>, você tem acesso a tudo o
          <br>que precisa para ter mais
          <br>praticidade em sua experiência com
          <br>o <b>app Market4u</b>.
        </p>
        <div class="traco"></div>
      </div>
    </li>
  </ul>

  <ul ng-if="$root.MenuBottom" id="menu-bottom" step="{{STEP}}" tour="{{$root.TOUR}}">
    <li ng-click="clickMenu('inicio')">
      <i class="mdi mdi-action-home"></i> Início
    </li>
    <li ng-click="clickMenu('carteira')">
      <i class="mdi mdi-action-credit-card"></i> Carteira
    </li>
    <li id="pagar_escanear" ng-click="clickMenu('pagar_escanear')">
      <i class="mdi {{$root.TIPO_PG=='COMPRAR'?'mdi-editor-format-align-justify':'mdi-editor-attach-money'}}"></i>
      <label type="{{$root.TIPO_PG}}">{{$root.TIPO_PG=='COMPRAR'?'Escanear':'Pagar'}}</label>
    </li>
    <li style="float: right" ng-click="clickMenu('ajustes')">
      <i class="mdi mdi-action-settings"></i> Ajustes
    </li>
    <li style="float: right" ng-click="clickMenu('destravar')">
      <i class="mdi mdi-action-lock-open"></i> Destravar <span>18+</span>
    </li>
  </ul>

  <div id="boxPago">
    <i class="mdi mdi-navigation-check"></i>
    Compra realizada com sucesso
  </div>

  <div id="fundo_transparente" ng-click="menuClose()" mn-touch swipe-left="swipeLeft()" swipe-right="swipeRight()" ui-prevent-touchmove-defaults></div>

  <div id="menuLeft" class="Menuleft " mn-touch swipe-left="swipeLeft()" swipe-right="swipeRight()">
    <div id="contentLeft" ui-prevent-touchmove-defaults>
      <div id="userLeft">
        <img ng-if="!usuario.ID" border="0" src="" ng-click="location('#!/conecte-se')" onerror="onErrorUser(this)">
        <img ng-if="usuario.ID" border="0" src="" ng-click="location('#!/cadastro')" onerror="onErrorUser(this)">
        <div ng-if="!usuario.ID" ng-click="location('#!/conecte-se')">
          <b>Olá</b>
          <label>Conecte-se</label>
        </div>
        <div ng-if="usuario.ID" ng-click="location('#!/cadastro')">
          <b>{{usuario.NOME}}</b>
          <label>{{usuario.EMAIL}}</label>
          <a>Ajustes</a>
        </div>
      </div>
      <ul>
        <li ng-repeat="menu in MenuLeft" ng-if="usuario.ID || menu.logado">
          <a ng-click="location(menu.url, menu.external)">
            <i ng-if="menu.icon" class="mdi {{menu.icon}}"></i>
            <img ng-if="menu.img" src="img/{{menu.img}}" border="0">
            {{menu.titulo}}
          </a>
        </li>
        <li ng-if="usuario.RESTRITO">
          <a style="color: #00ab46" ng-click="location('#!/area-restrita')">
            <i class="mdi mdi-action-lock"></i>
            Área restrita
          </a>
        </li>
        <li ng-if="usuario.ID">
          <a style="color: #e94847" ng-click="logout()">
            <i class="mdi mdi-content-clear"></i>
            Sair da conta
          </a>
        </li>
      </ul>
      <div id="bottom">
        <img ng-if="usuario.FACEBOOK.ATIVO" ng-click="AppBrowser(usuario.FACEBOOK)" id="icon_facebook" width="25" src="img/icon-facebook.png" border="0">
        <img ng-if="usuario.INSTAGRAM.ATIVO" ng-click="AppBrowser(usuario.INSTAGRAM)" id="icon_instagram" style="float: left" width="37" src="img/icon-instagram.png" border="0">
        v.{{versao_app_mobile}}
      </div>
    </div>
  </div>
</body>
</html>